:root.theme-dark {
  --main-text-color: #f1b2ce;
  --text-color: #000028;
  --accent-color: #ff0070;
  --bg-color: var(--text-color);
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --title-shadow: var(--accent-color);
  --section-title-color: var(--accent-color);
  --text-box-bg-color: var(--accent-color);
  --text-box-color: var(--text-color);
  --article-title-color: var(--text-color);
  --hover-color: rgb(250, 0, 112, 40%);
  --focus-color: var(--accent-color);
  --corner-color: var(--accent-color);
  --rec-color: var(--accent-color);
  --display-header-rec: initial;
}