:root.theme-dark {
  --main-text-color: #FFF1F7;
  --text-color: #000028;
  --accent-color: #ff0070;
  --bg-color: var(--text-color);
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --title-shadow: var(--accent-color);
  --section-title-color: var(--accent-color);
  --text-box-bg-color: var(--accent-color);
  --text-box-color: var(--text-color);
  --article-title-color: var(--text-color);
  --hover-color: #000E2E;
  --focus-color: var(--accent-color);
  --corner-color: var(--accent-color);
  --rec-color: var(--accent-color);
  --display-header-rec: initial;
  --link-color: #ff0070;
  --border-color: #ff0070;
  --shadow-color: rgba(255, 0, 112, 0.3);
}